* {
    padding: 0;
    margin: 0;
}

html {
    /* fix mobile viewport menu bar on iOS */
    height: -webkit-fill-available;
}

body {
    height: 100%;
    /* fix mobile viewport menu bar on iOS */
    height: -webkit-fill-available;
    width: 100%;
    text-align: center;
}

#unity-container {
	background-image: url('background.jpg'); /* Sử dụng đường dẫn cục bộ đến hình nền */
    background-size: cover; /* Để hình nền phủ toàn bộ màn hình */
    background-position: center; /* Đặt hình nền vào giữa màn hình */
    background-repeat: no-repeat;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Default values, might be overwritten by aspect ratio media queries */
#unity-canvas {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

#unity-loading-container {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;

    opacity: 1;
    visibility: visible;
}


#unity-loading-container .background {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

#unity-loading-container.finished {
    opacity: 0;
    visibility: collapse;
}

#unity-loading-container .logo {
	position: absolute;
	bottom: 300px;
	left: 50%;
	transform: translateX(-50%);
}

#unity-loading-text{
	align-items: center;
	bottom: 145px;
}


#unity-loading-bar {
    position: absolute;
    width: 40%;
    height: 20px;
    background-color: #0E1024;
    border: 1px solid #ccc;
    border-radius: 10px;
    bottom: 55px;
}

#unity-loading-bar-inner {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 1%;
    height: 100%;
    background-color: #23B7F1;
    border-radius: 10px;
    transition: 400ms linear;
}
